.category-holder{
    padding-top: 100px;
    margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4,300px);
   justify-content: space-evenly;
   position: relative;
  
}
.home-container{
    background-image: url(../../images/Bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
*{
    font-family: 'Comfortaa', cursive;
}

@media(max-width:1400px){
    .category-holder{
        margin: 0 auto;
        display: grid;
   grid-template-columns: repeat(4,193px);
    }
}

@media(max-width:900px){
    .category-holder{
        margin: 50px auto;
        display: grid;
   grid-template-columns: repeat(3,142px);
    }
}

@media(max-width:480px){
    .category-holder{
        margin: 50px auto;
        display: grid;
   grid-template-columns: repeat(1,200px);
    }
    .home-container{
        height: 150vh;
      }
}