.rider-card{
    margin: 10px auto;
    width: 350px;
    height: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    border-left: 2px solid teal;
    border-right: 1px solid teal;
}

.rider-info{
    display: flex;
justify-content: space-around;
align-items: center;
}

.cost-info{
display: flex;
justify-content: center;
align-items: center;
}

.category-img img{
    width: 50px;
}

.rider-card span{
    text-transform: capitalize;
    font-weight: 500;
}
.peopleicon img{
   margin-top: 5px;
    width: 30px;
    
}
.peopleicon{
    display: flex;
    justify-content: space-around;
    align-items: center;

}